<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.healthyrecipes.mapper.LogMapper">
    <insert id="insertALog" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        insert into log
        (userid,topic_id,content,date)
        values
        (#{userid},#{topicId},#{content},#{date})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <insert id="insertLogComment">
        insert into diet_log_comments
        (user_id, log_id, content
        <if test="parentCommentId != null">
            , parent_comment_id
        </if>
        )
        values
        (#{userId}, #{logId}, #{content}
        <if test="parentCommentId != null">
            , #{parentCommentId}
        </if>
        )
    </insert>
    <update id="updateLog">
        update log
        <trim prefix="set" suffixOverrides=",">
            <if test="topicId != null">topic_id = #{topicId},</if>
            <if test="content != null and content !=''">content = #{content},</if>
            <if test="likeNum != null ">like_num = #{likeNum},</if>
            <if test="disLikeNum != null">dis_like_num = #{disLikeNum},</if>
            <if test="images != null and images != ''">images = #{images}</if>
        </trim>
        where id = #{id}
    </update>
    <update id="operateForLike">
        update diet_log_comments
        set `likes` = `likes`
        <choose>
            <when test="operator == 1">
                + 1
            </when>
            <otherwise>
                - 1
            </otherwise>
        </choose>
        where id = #{commentId}
    </update>

    <select id="queryLogByPage" resultType="com.healthyrecipes.pojo.vo.LogUserVO">
        select l.id id,l.userid userid,l.topic_id topic_id,l.content content,l.like_num like_num,
            l.dis_like_num dis_like_num,l.date date,l.images images,
            u.username username,u.avatar avatar
        from
        log l, user u
        <where>
            l.userid = u.id
            <if test= "id != null and id != ''">
                and l.id = #{id}
            </if>
            <if test= "userid != null and userid != ''">
                and l.userid = #{userid}
            </if>
            <if test= "topicId != null and topicId != ''">
                and l.topic_id = #{topicId}
            </if>

        </where>
    </select>

    <select id="getTopicList" resultType="com.healthyrecipes.pojo.entity.Topic">
        select * from topic
        where
        <if test= "id != null and id != ''">
            id = #{id} and
        </if>
        <if test= "desc != null and desc != ''">
            `desc` = #{desc} and
        </if>
        status = 1
    </select>
     <select id="checkLogId" resultType="java.lang.Boolean">
        select exists (
        select 1
        from log
        where id = #{logId}
        )
    </select>

    <select id="checkUserId" resultType="java.lang.Boolean">
        select exists (
        select 1
        from user
        where id = #{userId} and status = 1
        )
    </select>

    <select id="checkParentCommentId" resultType="java.lang.Boolean">
        select exists (
        select 1
        from user
        where id = #{parentCommentId} and status = 1
        )
    </select>

    <!-- 定义 resultMap -->
    <resultMap id="logDtoResultMap" type="com.healthyrecipes.pojo.dto.LogDTO">
        <id property="userId" column="user_id"/>
        <result property="logContent" column="log_content"/>
        <result property="logImages" column="log_images"/>

        <!-- 引用外部 resultMap，处理 user 表中的信息 -->
        <association property="username" javaType="String" column="user_id" select="getUserByUsername"/>
        <association property="avatar" javaType="String" column="user_id" select="getUserAvatar"/>
    </resultMap>

    <!-- 获取用户名称的方法 -->
    <select id="getUserByUsername" resultType="String">
        SELECT username FROM user WHERE id = #{userId}
    </select>

    <select id="getUserAvatar" resultType="String">
        SELECT avatar FROM user WHERE id = #{userId}
    </select>

    <resultMap id="logDetailMap" type="com.healthyrecipes.pojo.dto.LogDTO">
        <result column="content" property="logContent"></result>
        <result column="images" property="logImages"></result>
    </resultMap>

    <select id="getLogWithUserInfoById" resultType="com.healthyrecipes.pojo.dto.LogDTO" resultMap="logDetailMap">
        SELECT l.userid, l.content, l.images, u.username, u.avatar
        FROM log l
        LEFT JOIN user u ON l.userid = u.id
        WHERE l.id = #{logId}
    </select>

    <select id="queryTopLevelComments" resultType="com.healthyrecipes.pojo.dto.LogCommentDTO$Comment">
        SELECT dlc.user_id AS 'userId',
        u.username,
        u.avatar,
        dlc.content,
        dlc.likes
        FROM diet_log_comments dlc
        INNER JOIN user u ON dlc.user_id = u.id
        WHERE dlc.log_id = #{logId} AND dlc.status = 1 AND
        <if test="parentCommentId != null">
            dlc.parent_comment_id = #{parentCommentId}
        </if>
        <if test="parentCommentId == null">
            dlc.parent_comment_id = 0
        </if>

    </select>

</mapper>