<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.healthyrecipes.mapper.LogMapper">
    <insert id="insertALog" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        insert into log
        (userid,topic_id,content,date)
        values
        (#{userid},#{topicId},#{content},#{date})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updateLog">
        update log
        <trim prefix="set" suffixOverrides=",">
            <if test="topicId != null">topic_id = #{topicId},</if>
            <if test="content != null and content !=''">content = #{content},</if>
            <if test="likeNum != null ">like_num = #{likeNum},</if>
            <if test="disLikeNum != null">dis_like_num = #{disLikeNum},</if>
            <if test="images != null and images != ''">images = #{images}</if>
        </trim>
        where id = #{id}
    </update>

    <select id="queryLogByPage" resultType="com.healthyrecipes.pojo.vo.LogUserVO">
        select l.id id,l.userid userid,l.topic_id topic_id,l.content content,l.like_num like_num,
            l.dis_like_num dis_like_num,l.date date,l.images images,
            u.username username,u.avatar avatar
        from
        log l, user u
        <where>
            l.userid = u.id
            <if test= "id != null and id != ''">
                and l.id = #{id}
            </if>
            <if test= "userid != null and userid != ''">
                and l.userid = #{userid}
            </if>
            <if test= "topicId != null and topicId != ''">
                and l.topic_id = #{topicId}
            </if>

        </where>
    </select>

    <select id="getTopicList" resultType="com.healthyrecipes.pojo.entity.Topic">
        select * from topic
        where
        <if test= "id != null and id != ''">
            id = #{id} and
        </if>
        <if test= "desc != null and desc != ''">
            `desc` = #{desc} and
        </if>
        status = 1
    </select>

</mapper>